* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222222;
}

h1 {
  color: #fff;
}

h3 {
  margin-top: 2em;
}

h3,
p {
  margin-bottom: 1em;
}

.header {
  padding: 0.5em 5vw;
  box-shadow: 0 0 2px 1px #000;
  background-color: #375a7f;
}

.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-btn {
  padding: 0.75em;
  margin: 0.25em;
  border: 2px solid green;
  background-color: lightgreen;
  border-radius: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.primary-btn.new-game-btn {
  border: 2px solid green;
  background-color: lightgreen;
}

.primary-btn.close-btn {
  border: 2px solid maroon;
  background-color: lightsalmon;
}

.primary-btn:hover {
  cursor: pointer;
  color: #fff;
}

.primary-btn.new-game-btn:hover {
  background-color: green;
}

.primary-btn.close-btn:hover {
  background-color: maroon;
}

.full-width {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.scoreboard {
  background-color: #303030;
  color: #fff;
  margin-bottom: 0.5em;
  width: min(30em, 80vmin);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreboard .player-col {
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  transition: background-color 0.5s ease-in;
}

.scoreboard .player-col.highlighted {
  background-color: #a89700;
}

.scoreboard .player-col .player-name {
  font-size: 1rem;
  padding: 0 0.25em;
  overflow-wrap: anywhere;
}

.scoreboard .player-col .score {
  font-size: 1.25rem;
  position: relative;
  padding-bottom: 0.25em;
  min-width: 3.5em;
}

.scoreboard .player-col .score::before {
  left: 0;
  top: 5%;
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.scoreboard .player-col .score-white::before {
  background-color: #fff;
}

.scoreboard .player-col .score-black::before {
  background-color: #000;
}

.board {
  width: min(30em, 80vmin);
  height: min(30em, 80vmin);
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  border-radius: 1em;
  overflow: hidden;
}

.board .cell {
  width: 12.5%;
  height: 12.5%;
  background-color: green;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board .cell.valid-move {
  cursor: pointer;
}

.board .cell.valid-move .valid-move-circle {
  position: relative;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 1px dotted #000;
  pointer-events: none;
  user-select: none;
}

.board .cell .token {
  position: relative;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  transform-style: preserve-3d;
}

.board .cell .token.flipped {
  transform: rotateY(0.5turn);
}

.board .cell .token.animate {
  transition: transform 0.65s ease-out;
}

.board .cell .token .token-child {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.board .cell .token .black-side {
  background-color: #000;
}

.board .cell .token .white-side {
  background-color: #fff;
  transform: rotateY(0.5turn);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
}

.backdrop.visible {
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
}

.backdrop .modal {
  padding: 2em;
  border-radius: 1em;
  background-color: #fff;
  min-width: 15em;
}

.backdrop .modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.backdrop .modal .modal-header .x-btn {
  cursor: pointer;
}

.backdrop .modal .new-game-form .form-control {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.backdrop .modal .new-game-form .form-control label {
  padding-bottom: 0.5em;
}

.description {
  color: #fff;
  padding: 4em max(5vw, 1em);
}

.description h2 {
  margin-bottom: 1em;
}

.endgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.endgame .final-score {
  text-align: center;
  font-size: 3rem;
  padding: 0.5em 0;
}
